#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}