.neutral{
    white-space: nowrap;
    width: 100%;
    height: auto;
    white-space: nowrap;
    
}
.change_font{
    font-size: 100%;
     white-space: nowrap;
}
table{
    width: 50%;
    white-space: nowrap;
}

