#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-64076d05-0ebf-4c69-aa51-7e47ec972e35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}