#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-906c3648-30d9-411c-9ce7-c1ff3dbc78f7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}