#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8d1c46d-a16a-4d7b-979b-a309a3fc76ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}