#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1cfac745-db94-4d95-9747-8d713d50d322 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}