#s-744c851c-719a-404c-a0cc-86ed17e8fd1f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-744c851c-719a-404c-a0cc-86ed17e8fd1f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-744c851c-719a-404c-a0cc-86ed17e8fd1f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-744c851c-719a-404c-a0cc-86ed17e8fd1f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-744c851c-719a-404c-a0cc-86ed17e8fd1f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-744c851c-719a-404c-a0cc-86ed17e8fd1f #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-744c851c-719a-404c-a0cc-86ed17e8fd1f #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-744c851c-719a-404c-a0cc-86ed17e8fd1f #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-744c851c-719a-404c-a0cc-86ed17e8fd1f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}