#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b87fab56-2a76-427e-9cf7-e43fd49b4a8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}