#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Rectangle_1 {
  position: absolute;
  width: 312px;
  height: 40px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Rectangle_2 {
  position: absolute;
  width: 316px;
  height: 439px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Table_1 {
  position: absolute;
  width: 300px;
  height: 76px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_1 {
  padding-left: 12px;
  width: 86px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_4 {
  padding-left: 12px;
  width: 87px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_7 {
  padding-left: 12px;
  width: 87px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_7 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_2 {
  padding-left: 12px;
  width: 86px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_5 {
  padding-left: 12px;
  width: 87px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_8 {
  padding-left: 12px;
  width: 87px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_3 {
  padding-left: 12px;
  width: 86px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_6 {
  padding-left: 12px;
  width: 87px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_9 {
  padding-left: 12px;
  width: 87px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Table_2 {
  position: absolute;
  width: 322px;
  height: 76px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_10 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_13 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_13 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_16 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_16 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_11 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_11 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_14 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_17 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_17 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_12 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_12 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_15 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_15 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_18 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_18 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Table_3 {
  position: absolute;
  width: 322px;
  height: 76px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_19 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_19 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_22 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_22 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_25 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_25 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_20 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_20 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_23 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_23 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_26 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_26 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_21 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_21 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_24 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_24 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_27 {
  padding-left: 12px;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_27 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fec43b4b-976f-47d3-9a8a-aa074fd4d5a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}